/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: Lato, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
}

::selection {
    background: #b3d4fc;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.headerbar {
    background-color: white;
    box-shadow: 0px 3px 10px #019dd3;
    position: sticky;
    flex-direction: row-reverse;
    width: 100%;
    min-height: 90px;
    top: 0; 
    z-index: 99;
    transition: 0.5s;
   }

 .headerbar2 {
    background-color: white;
    box-shadow: 0px 3px 10px #019dd3;
    position: sticky;
    flex-direction: row;
    width: 100%;
    min-height: 45px;
    top: 0; 
    z-index: 99;
    transition: 0.5s;
 }

.search {
    justify-content: flex-end;
    display:flex;
}

@media screen and (min-width: 1024px) {
    .search {
        padding-right: 100px;
    }
}

.search2 {
    display: none;
}


.search input[type=text] {
    height: 30px;
    width: 220px;
    padding-left: 8px;
    margin: 8px 16px 0 0;
    border-radius: 40px;
    border: 1px solid #e6e3e4;
    background-color: #e6e3e4;
    font-size: 17px;
}

@media screen and (min-width: 768px) {
    .search input {
        margin-right: 0px;
        
    }
}

input::placeholder {
    color: #9d9d9d;
  }

.icon-search {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 20px;
    height: 20px;
    fill: #019dd3;
  }

@media screen and (min-width: 1024px) {
    .icon-search {
        right: 130px;
    }
}

a:link {
    margin-left: 10px;
}

.menulink {
    color: #019dd3;
    font-size: 20px;
    transition-duration: 0.5s;
}

.menulink2 {
    font-size: 16px;
}
a.menulink {
    text-decoration: none;
    margin: 10px 0 0 15px;
}

a.menulink:hover {
    color: #026080;
}

.icon3 {
    width: 12px;
    height: 12px;
    fill: #019dd3;
    margin-bottom: 2px;
}

.icon3:hover {
    fill: grey;
}

.breadtxt {
    margin-left: 2px;
}

.breadtxt:hover {
    color: grey;
}

a.linkje {
    color: #019dd3;
    font-size: 14px;
    text-decoration: none;
}

.menu {
    width: 320px;
    flex-wrap: wrap;
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
    padding-bottom: 10px;
}

@media screen and (min-width: 480px) {
    .menu {
        width: 480px;
    }
}

@media screen and (min-width: 600px) {
    .menu {
        width: 600px;
    }
}
        
@media screen and (min-width: 768px) {
    .menu {
        width: 700px;
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        margin-left: 100px;
        
    }
}
  
.header { 
    position: relative;
    background-color: #019dd3;
    margin-bottom: 35px;
}
      
@media screen and (min-width: 1024px) {
    .header {
        padding: 0 100px 0 100px;    
    }
}

.headerimg {
    display: flex;
    width: 100%;
}

.headertitle {
    position: relative;
    height: 170px;
    background-color: #019dd3;
}

@media screen and (min-width: 768px) {
    .headertitle {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        top: 20%;
        right: 10%;
        width: 34%;
        height: 64%;
        opacity: 0.8;
    }
}

.text1 {
    color: white;
    font-weight: 300;
    font-size: 16px;
    margin-left: 15px;
    margin-top: -10px;
}

@media screen and (min-width: 768px) {
    .text1 {
        margin-left: 15%;
    }
}

.target1 {
    height: 32px;
    width: 150px;
    background-color: white;
    border: 1px solid white;
    color: #019dd3;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 25px 0 0 15px;
    cursor: pointer;
    
}

@media screen and (min-width: 768px) {
    .target1 {
        margin: 0 0 5% 15%;
    }
}

.targeticon {
    margin-left: 45px;
    height: 17px;
    width: 17px;
    fill: #019dd3;
}

h1 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    margin: 15px 0 25px 15px;
}

@media screen and (min-width: 768px) {
    h1 {
        margin: 5% 0 0 15%;
    }
}

.icon2 {
    width: 12px;
    height: 12px;
    fill: #019dd3;
    margin:0 0 2px -10px;

}

.breadcrumbs {
    margin:0 0 10px 15px;
}

@media screen and (min-width: 1024px) {
    .breadcrumbs {
        margin-left: 115px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        padding-left: 100px;
        padding-right: 100px;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }  
}

.mainarticle {
    margin-left: 15px;
    margin-right: 15px;
}

.articlevideo {
    display: inline-block;
}

p {
    font-weight: 400;
    color: #616161;
}

h2 {
    color: #838383;
    margin: 0 0 10px 5px;
    font-weight: 300;
    font-size: 34px;
}

h3 {
    color: #838383;
    font-size: 28px;
    font-weight: 300;
    margin-top: 25px;
}

h4 {
    color: #616161;
    margin: 0px;
    font-weight: 300;
    font-size: 24px;
}

h5 {
    color: #019dd3;
    margin: 0px;
    font-weight: 400;
    font-size: 15px;
}

.boldtxt {
    margin: 0 5px 0 5px;
    font-weight: 700;
    color: #575757;
}

a.CIlink {
    text-decoration: none; 
    color: #019dd3;
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
}

.datesize {
    color: grey;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
}

.videoimg {
    width: 100%;
}

.textstuff {
    width: 100%;
}

.ulcircles {
    list-style: disc;
    margin-left: 20px;
}

.ulcircles li {
    margin-top: 5px;
}

table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}

table, th, td  {
    border: 1px solid #b7b7b7;
    text-align: left;
    padding: 5px;
}

td {
    color: #616161;
}

th {
    background-color: #019dd3;
    color: white;
    font-weight: 400;
}

.quotetxt {
    margin-left: 40px;
    text-indent: -40px;
}

q {
    quotes: "“" "”" "‘" "’";
    font-size: 26px;
    font-weight: 300;
    color: grey;
    padding-top: 60px;
    margin-top: 60px;
}

q:before {
    color: grey;
    content: open-quote;
    font-size: 120px;
    line-height: 0px;
    vertical-align: -65px;
}

@media screen and (min-width: 200px) {
    .dummy1 {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 510px) {
    .dummy1 {
        width: 480px;
        margin-right: 10px;
        float: left;
    }
}

.form1 {
    border-bottom: 1px solid grey;
}

.form1inpt {
    margin-bottom: 25px;
    margin-top: 5px;
    color:#838383;
    font-weight: 300;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .form1inpt {
        display: flex ;
        margin-top: 15px;
    }
}

.form1inpt .label {
    flex: 1;
    text-align: right;
}

.form1inpt .field {
    flex: 3;
    margin-right: 5px;
}

.form1ipt select {
    flex: 3;

}
@media screen and (min-width: 768px) {
    .form1inpt .field {
        margin-left: 30px;
    }
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    border:1px solid lightgrey;
}

input[type=text] {
    height: 30px;
}

input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    margin: 10px 5px 0 0;
    vertical-align: 2px;
}

input[type="radio"] {
    display: inline-block;
    width: 15px;
    margin: 10px 5px 0 0;
    vertical-align: 2px;
}

select {
    width: 100%;
    background-color: white;
    height: 30px;
}

@-moz-document url-prefix() {
    select {
        border:1px solid lightgrey;
    }  
  }

input[type=submit] {
    background-color: #019dd3;
    border: none;
    color: white;
    font-weight: 300;
    padding: 10px;
    width: 70px;
    margin-top: 4px;
    margin-right: 2px;
    cursor: pointer;
}

input[type=reset] {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    font-weight: 300;
    padding: 10px;
    width: 70px;
    margin-top: 4px;
    cursor: help;
}

.aside1 {
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (max-width: 1024px) {
    .aside1 {
        margin-top: 20px;
    }
}

.asidemain {
    height: 900px;
    margin-bottom: 10px;
}

.contact {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    width: auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    column-gap: 10px;
}

.contactimg {
    grid-area: 1/1/2/2;
}

.contacttxt {
    grid-area: 1/2/2/2;
    margin-top: 0px;
}

.mockmanager {
    display: flex;
    color: grey;
    font-weight: 300;
    align-items: flex-end;
    margin-top: 25px;
}

.phonenr {
    grid-area: 2/2/3/2;
    width: 120px;
    color: #636363;
}

.documenttypes {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0px;
}

.filesize {
    display: inline-block;
}

.licontainer1 {
    padding:10px 0 10px 0;
    margin-top: 15px;
    border-bottom: 1px solid lightgray; 
    border-top: 1px solid lightgray; 
}

.licontainer {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid lightgray; 
}

.litext {
    display: block;
    padding-left: 10px;
    margin-left: 50px;
}

.icon5 {
    position: absolute;
    width: 45px;
    height: 45px;
    stroke-width: 0;
    stroke:lightgray;
    fill:lightgray;
}

.icon-file-pdf {
    position: absolute;
    width: 45px;
    height: 45px;
    stroke-width: 0;
    stroke:lightgray;
    fill:lightgray;
}

.icon-file-pdf2 {
    position: absolute;
    width: 45px;
    height: 45px;
    stroke-width: 0;
    stroke:lightgray;
    fill:lightgray;
}

.teasercontainer {
    margin-top: 50px;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .teaserrowimg {
        margin-bottom: 15px;
    }
}

.teaserrow {
    background-color: #f3f3f3;
    display:inline-block;
    position:relative;
    padding: 30px 15px 30px 15px;
}

@media screen and (min-width: 600px) {
    .teaserrow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .teaserrow {
       padding-left: 100px;
       padding-right: 100px;
    }
}

.dummy2 {
        width: 100%;
}

hr.hr2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.teaserwrap2 {
    margin: 15px 15px 0px 15px;
}

@media screen and (min-width: 600px) {
    .teaserwrap2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .teaserwrap2 {
       margin-right: 100px;
       margin-left: 100px;
    }
}

@media screen and (min-width: 200px) {
    .dummy3 {
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 5px;
    }
}

.dummy4 {
    width: 100%;
    margin-top: 5px;
}

.dummy5 {
    width: 100%;
    margin-top: 5px;
}

.teasertitle {
    margin: 0 15px 15px 15px; 
    font-size: 28px;
    font-weight: 100;
}
    
 @media screen and (min-width: 1024px) { 
    .teasertitle {
        margin-left: 100px; 
     }   
}

.finalteaser {
    margin: 0 15px 15px 15px;
}

@media screen and (min-width: 600px) {
    .finalteaser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .finalteaser {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 90% 10%;
        margin-left: 100px;
        margin-right: 100px;
    }
}

.testfinaldisc {
    margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
    .testfinaldisc {
        grid-area: 2/1/3/2;
        }
}

@media screen and (min-width: 1024px) {
    .testfinaltxt {
        grid-area: 1/2/3/3;
        }
}

@media screen and (max-width: 600px) {
    .documentlist {
        margin-top:40px;
    }
}

.length {
    display: block;
    color: grey;
    margin-top: 6px;
    margin-bottom: 5px;
    font-weight: lighter;
    text-align: end;
    font-size: 14px;
}

.footer {
    display:flex;
    flex-direction: column;
    background-color: #575757;
    border-top: 1px solid grey;
    padding-bottom: 15px;

}

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 100px;
        padding-bottom: 0px;
    }
}

.icon4 {
    width: 8px;
    height: 8px;
    fill: white;
    margin-left: 0px;
    margin-bottom: 2px;
}

.footerlinks {
    margin-left: 5px;
}

a.linkjefooter {
    color: white;
    font-size: 10px;
    text-decoration: none;
    margin: 5px 0 5px 15px;
}

@media screen and (min-width: 1024px) {
    a.linkjefooter {
        margin: 15px 0 15px 15px;
    }
}

.linkjeninja {
    color: white;
    font-size: 10px;
    margin: 15px 0 10px 15px;
}

@media screen and (min-width: 1024px) {
    .linkjeninja {
        margin: 15px 0 15px 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        font-family: Lato, sans-serif;
        font-weight: lighter;
    }

    h2,
    h3 {
        page-break-after: avoid;
        font-family: Lato, sans-serif;
        font-weight: lighter;
    }