/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: darkgray;
    font-size: 1em;
    line-height: 1.4;
    font-family: Lato, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.search {
    float: right;
    margin-top: 0px;
}

@media screen and (min-width: 1024px) {
    .search {
           padding-right: 100px;
        }
    }

@media screen and (min-width: 1220px) {
    .search {
           margin-top: -20px;
        }
    }
 
.menu {
    width: 320px;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5px;
    margin-top: 20px;
}

a:link {
    color: lightblue;
    font-family: Lato, sans-serif;
    font-size: 22px;
    color: lightblue;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
    
}

a:hover {
color: rgb(8, 91, 146);
}


@media screen and (min-width: 480px) {
.menu {
       width: 480px;
    }
}

@media screen and (min-width: 600px) {
.menu {
           width: 600px;
        }
    }
        

@media screen and (min-width: 768px) {
.menu {
    width: 800px;
    }
}

@media screen and (min-width: 1024px) {
    .menu {
        margin-left: 100px;
        }
    }

            
.header { 
background-color: dodgerblue;
margin-bottom: 25px;
}
        
        
        
@media screen and (min-width: 1024px) {
.header {
    padding-left: 100px;
    padding-right: 100px;
        
}
}


.headerimg {
display: flex;
justify-content: center;
width: 100%;
height: 100%;
            
}
            
@media screen and (min-width: 200px) {
.headerimg {
display: flex;
justify-content: center;
width: 100%;
height: 100%;
}
}
            
            
@media screen and (min-width: 768px) {
.headerimg {
position: relative;
width: 100%;
height: 100%;
}
}

.headertitle {
    position: relative;
    height: 150px;
    background-color: dodgerblue;
    

}

@media screen and (min-width: 768px) {
    .headertitle {
        float: right;
        width: 300px;
        margin-right: 25px;
        margin-top: -25%;
        opacity: 0.7;
    }
    }

.headline1 {
    padding-top: 10px;
    margin-left: 10px;
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 22px;
}

.text1 {
padding-top: 20px;
margin-left: 10px;
color: white;
font-family: Lato, sans-serif;
font-weight: lighter;
font-size: 12px;
}

.target {
    width: 160px;
    height: 20px;
    background-color: floralwhite;
    margin-left: 10px;
    margin-top: 25px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
    color: #6ba1ce;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 16px;
}


.icon1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-bottom: 7px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
.breadcrumbs {
    height: 100%;
    margin-bottom: 10px;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (min-width: 1024px) {
.breadcrumbs {
    padding-left: 100px;

}
}

@media screen and (min-width: 1024px) {
.wrapper {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2px;
    }  
}

.mainarticle {
    height: 100%;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.aside1 {
    display:inline-block;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

h1{
    color: grey;
    margin-left: 5px;
    margin-top: 0px;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 32px;

}

h6 {
    color: grey;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 26px;

}

.article {
    width: 100%;
}

.articlevideo {
    float: left;

}

.videoimg {
    width: 99%;
    justify-content: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 5px;

}
.textstuff {
    float: left;
    width: 100%;

}
.ulcircles {

    list-style: disc;
    padding-left: 20px;

}
table {

    width: 100%;
    border-collapse: collapse;
}
table, th, td  {
    border: 1px solid grey;
    text-align: left;
    padding:5px;
}

th {
    background-color: #6ba1ce;
}
@media screen and (min-width: 200px) {
    .dummy1 {
   width: 100%;
   float: left;
   padding-right:5px;
}
}

@media screen and (min-width: 480px) {
    .dummy1 {
    width: 480px;
    margin-left: 5px;
}
}
.form1 {
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
    .form1 {
        display: none;
    }
}
.form2 {
    float: left;
    width: 100%;
    margin-right: 55px;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
    .form2 {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .form2 {
        float: left;
        width: 100%;
    }
}
.leftform {
    justify-self: end;
    text-align: right;
    margin-top: 6px;
   
}

.rightform{
    width:100%;
    margin-left: 10px;
}
.wrapform2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2px;
    margin-right: 15px;

}

.buttons {
    float: left;
}

.mandatory {
    float: right;
}
input {
    width: 100%;

}

textarea {
    width: 100%;
    border-color: lightgrey;
}

input[type=text] {
    width: 100%;
    height: 40px;
}
input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    margin-right: 5px;
    margin-top: 10px;
    vertical-align: 2px;
}

input[type="radio"] {
    display: inline-block;
    width: 15px;
    margin-right: 5px;
    margin-top: 10px;
    vertical-align: 2px;
}
select {
 width: 100%;
 height: 30px;
}

input[type=submit] {
    background-color: #6ba1ce;
    border: none;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 70px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=reset] {
    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    padding: 10px;
    width: 70px;
    margin: 4px 2px;
    cursor: pointer;
}



.asidemain {
    height: 900px;
    margin-bottom: 10px;
}
ul {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    
}

h2 {
    color: grey;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid lightgray;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    }

.licontainer {
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    
}

.titleicon {
    color: #6ba1ce;
    margin: 0px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 15px;
    }

h3 {
    color: rgb(165, 165, 165);
    margin: 0px;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 26px;

}
h4 {
    color: rgb(165, 165, 165);
    margin: 0px;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    }

.litext {
        
        display: block;
        padding-left: 10px;
        margin-left: 50px;
    }


.icon {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    stroke-width: 0;
    stroke:lightgray;
    fill:lightgray;
  }




p {

    margin-left: 5px;
    font-family: Lato, sans-serif;
    font-weight: lighter;
}


.teasercontainer {
float: left;
height: 2600px;
width: 100%;
margin-bottom: 5px;
background-color: azure;
}



.footer {
    float: left;
    height: 100px;
    width: 100%;

    background-color: grey;
}



@media screen and (min-width: 1024px) {

.footer {

    height: 35px;
    background-color: grey;
}

}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        font-family: Lato, sans-serif;
        font-weight: lighter;
    }

    h2,
    h3 {
        page-break-after: avoid;
        font-family: Lato, sans-serif;
        font-weight: lighter;
    }
}
